.tw-followCard {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 0.8rem;
  justify-content: space-between;
}

.tw-followCard-header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.tw-followCard-info {
  display: flex;
  flex-direction: column;
}

.tw-followCard-header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.tw-followCard-info {
  display: flex;
  flex-direction: column;
}

.tw-followCard-infoUserName {
  opacity: 0.6;
}

.tw-followCard-avatar {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

.tw-followCard-button {
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #000;
  transition: 0.3s ease background-color;
}

.tw-followCard-button.is-following {
  border: 1px solid #bbb;
  background-color: transparent;
  color: #fff;
  width: 140px;
}

.tw-followCard-button:hover {
  background-color: rgb(214, 214, 214);
}

.tw-followCard-text {
  display: block;
}

.tw-followCard-button.is-following:hover {
  background-color: rgba(223, 72, 72, 0.162);
  color: red;
  border: 1px solid red;
}

.tw-followCard-button.is-following:hover .tw-followCard-text {
  display: none;
}

.tw-followCard-button.is-following:hover .tw-followCard-stopFollow {
  display: block;
}

.tw-followCard-stopFollow {
  display: none;
}

.inizialiteApp {
  color: #fff;
  font-family: system-ui;
}

.tw-following {
  color: #fff;
  font-size: 16.66px;
  font-family: system-ui;
  text-align: right;
}

/*
  .alert {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4caf50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: system-ui;
  }

  .alert-close {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-left: 15px;
  }

  .alert-close:hover {
    color: #f1f1f1;
  }
*/
